@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<string>

@{
    ViewData["Title"] = "Home Page";
}


<h1> Tahp "Food Places" (becos Rehstourauauntt iz hahrd tew spehll)</h1>

    <ul>
        @foreach (string b in Model)
        {
            <li>@b</li>
        }
    </ul>

